body {
  background-image: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNHVsMjdnc2lrNWNoZGNjd21idXlpN3poZDhheWg1am5jaW1oN2lyNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/FcqKy4Kj7XOK0hCW4g/giphy.gif');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.app {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(76, 175, 80, 0.6); /* verde com transparência */
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
}

.app h1 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

/* Formulário */
.todo-form {
  display: flex;
  margin-bottom: 20px;
}

.todo-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.add-button {
  padding: 10px 20px;
  background-color: #003d00;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Filtros */
.filter-container {
  margin-bottom: 20px;
  text-align: center;
}

.filter-button {
  padding: 8px 16px;
  margin: 0 5px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.filter-button.active {
  background-color: #003d00;
  color: white;
}

/* Lista de tarefas */
.todo-list {
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 0px solid #eee;
}

.todo-item.completed .todo-text {
  text-decoration: line-through;
  color: #aaaaaa;
}

.todo-text {
  flex: 1;
  padding: 5px 0;
}

.todo-checkbox {
  margin-right: 10px;
}

/* Editar tarefa */
.edit-form {
  display: flex;
  flex: 1;
}

.edit-input {
  flex: 1;
  padding: 5px;
  font-size: 16px;
}

.save-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #003d00;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button{
  padding: 5px 10px;
  background-color:#003d00;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.delete-button {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

/* Nenhuma tarefa */
.empty-message {
  padding: 20px;
  text-align: center;
  color: #999;
}
